.sconsign.dblite
*.o
*.a
**/*.so
*/.sconf_temp*
**/*bp*
config.log
build_debug
build_release
build_release_with_debug_info
out
out.py
.kdev4
**/*.pyc
**/*.aux
**/*.log
**/*.o.part
**/*.kate-swp
*python-test
.*
**/*.dvi
**/*.fdb_latexmk
**/*.out
**/*.synctex.gz
**/*.toc
**/*.fls
**/*.blg
**/*.bbl
**/*[conflicted*
**/results/*
**/*.tgz
**/out.txt
**/anim.mp4
**/fig.pdf
config.py
**/*.csv
**/input/*
**/scaled_mesh*
**/__pycache__/*
prepare_arm.sh
*.zip
*.avi
*.srct*
*.json
dependencies/*
dependencies
