.sconsign.dblite
*.o
*.a
**/*.so
*/.sconf_temp*
config.log
build_debug
build_release
build_release_with_debug_info
out
out.py
.kdev4
**/*.pyc
**/*.aux
**/*.log
**/*.o.part
**/*.kate-swp
*python-test
.*
**/*.dvi
**/*.fdb_latexmk
**/*.out
**/*.synctex.gz
**/*.toc
**/*[conflicted*
**/results/*
**/*.tgz
config.py
